/*
    THIS FILE IS ONLY FOR STYLING!
    NO COLOURS! USE A THEME INSTEAD.
*/

/* BOOTSTRAP OVERRIDES */
.row {
    margin-bottom: 2px;
}
.row:last-child {
    margin-bottom: 0;
}

/* SING-IN/UP */
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin
input[type="email"] {
    margin-bottom: -1px;
    border-radius: 7px 7px 0 0;
}
.form-signin
input[type="password"] {
    margin-bottom: 7px;
    border-radius: 0 0 7px 7px;
}
.form-signin button {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

/* DON'T GET YOUR FEET WET! */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.footer .text-muted {
    margin: 5px 0;
}

